h1.titulo {
    color:indigo;
}
span.spanId {
    font-size: 18px; 
    margin: 50px;
}
p.formato {
    font-size: 18px;
    margin: 20px;
}
div.thirdDiv {
    background-color: black; 
    border: thick double red;
    height: 600px; 
    width: 500px; 
    padding: 50px;
}